releases/2.6/IncaWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
NOTE: When the attribute
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
is included in the definitions tag, SOAP::Lite->service() includes this value
SOAP requests, instead of the correct
  xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
To work around this, the first attribute is instead included with the binding
and service tags.
-->
<definitions name="IncaWS"
   targetNamespace="http://inca.sdsc.edu/wsdl/IncaWS.wsdl"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:tns="http://inca.sdsc.edu/wsdl/IncaWS.wsdl"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema">

   <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema"
         targetNamespace="http://inca.sdsc.edu/wsdl/IncaWS.wsdl"
         xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
         xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
         <complexType name="ArrayOfString">
            <complexContent>
               <restriction base="soapenc:Array">
                  <attribute ref="soapenc:arrayType" 
                     wsdl:arrayType="string[]"/>
               </restriction>
            </complexContent>
         </complexType>
      </schema>
   </types>

   <message name="getCatalogRequest">
      <part name="url" type="xsd:string"/>
   </message>
   <message name="getCatalogResponse">
      <part name="catalog" type="xsd:string"/>
   </message>
   <message name="getConfigRequest">
   </message>
   <message name="getConfigResponse">
      <part name="config" type="xsd:string"/>
   </message>
   <message name="pingAgentRequest">
      <part name="text" type="xsd:string"/>
   </message>
   <message name="pingAgentResponse">
      <part name="text" type="xsd:string"/>
   </message>
   <message name="pingDepotRequest">
      <part name="text" type="xsd:string"/>
   </message>
   <message name="pingDepotResponse">
      <part name="text" type="xsd:string"/>
   </message>
   <message name="queryDbRequest">
   </message>
   <message name="queryDbResponse">
      <part name="dbdescription" type="xsd:string"/>
   </message>
   <message name="queryDbRequest">
   </message>
   <message name="queryDbResponse">
      <part name="objects" type="xsd:string"/>
   </message>
   <message name="queryGuidsRequest">
   </message>
   <message name="queryGuidsResponse">
      <part name="guids" type="xsd:string"/>
   </message>
   <message name="queryHqlRequest">
      <part name="hql" type="xsd:string"/>
   </message>
   <message name="queryInstanceRequest">
      <part name="nickname" type="xsd:string"/>
      <part name="resource" type="xsd:string"/>
      <part name="collected" type="xsd:dateTime"/>
   </message>
   <message name="queryLatestRequest">
      <part name="expr" type="xsd:string"/>
   </message>
   <message name="queryPeriodRequest">
      <part name="begin" type="xsd:long"/>
      <part name="end" type="xsd:long"/>
      <part name="expr" type="xsd:string"/>
   </message>
   <message name="queryResponse">
      <part name="queryResult" type="tns:ArrayOfString"/>
   </message>
   <message name="queryStatusRequest">
      <part name="period" type="xsd:string"/>
      <part name="begin" type="xsd:long"/>
      <part name="end" type="xsd:long"/>
      <part name="expr" type="xsd:string"/>
   </message>

   <portType name="IncaWS_PortType">
      <operation name="getCatalog">
         <documentation>Asks the agent to retrieve and return the package catalog from the reporter repository accessed via $url. An undefined $url indicates that the agent should return a merged catalog for all known repositories.</documentation>
         <input message="tns:getCatalogRequest"/>
         <output message="tns:getCatalogResponse"/>
      </operation>
      <operation name="getConfig">
         <documentation>Asks the agent to return XML for the Inca deployment configuration.</documentation>
         <input message="tns:getConfigRequest"/>
         <output message="tns:getConfigResponse"/>
      </operation>
      <operation name="pingAgent">
         <documentation>Check that the Inca agent is accessible.</documentation>
         <input message="tns:pingAgentRequest"/>
         <output message="tns:pingAgentResponse"/>
      </operation>
      <operation name="pingDepot">
         <documentation>Check that the Inca depot is accessible.</documentation>
         <input message="tns:pingDepotRequest"/>
         <output message="tns:pingDepotResponse"/>
      </operation>
      <operation name="queryDb">
         <documentation></documentation>
         <input message="tns:queryDbRequest"/>
         <output message="tns:queryDbResponse"/>
      </operation>
      <operation name="queryDb">
         <documentation></documentation>
         <input message="tns:queryDbRequest"/>
         <output message="tns:queryDbResponse"/>
      </operation>
      <operation name="queryGuids">
         <documentation>Asks the depot to return a space-separated list of known suite guids.</documentation>
         <input message="tns:queryGuidsRequest"/>
         <output message="tns:queryGuidsResponse"/>
      </operation>
      <operation name="queryHql">
         <documentation>Asks the depot use the HQL select statement $hql to extract and return information from the DB. On success, returns a reference to an array that contains the objects selected by the select statement.</documentation>
         <input message="tns:queryHqlRequest"/>
         <output message="tns:queryResponse"/>
      </operation>
      <operation name="queryInstance">
         <documentation>Asks the depot to report details about one particular invocation of a reporter. On success, returns a reference to a single-element array that contains a ReportDetails document for the instance.</documentation>
         <input message="tns:queryInstanceRequest"/>
         <output message="tns:queryResponse"/>
      </operation>
      <operation name="queryLatest">
         <documentation></documentation>
         <input message="tns:queryLatestRequest"/>
         <output message="tns:queryResponse"/>
      </operation>
      <operation name="queryPeriod">
         <documentation></documentation>
         <input message="tns:queryPeriodRequest"/>
         <output message="tns:queryResponse"/>
      </operation>
      <operation name="queryStatus">
         <documentation></documentation>
         <input message="tns:queryStatusRequest"/>
         <output message="tns:queryResponse"/>
      </operation>
   </portType>

   <binding name="IncaWS_Binding" type="tns:IncaWS_PortType"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   >
      <soap:binding style="rpc"
         transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="getCatalog">
         <soap:operation soapAction="urn:IncaWebService#getCatalog"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </output>
      </operation>
      <operation name="getConfig">
         <soap:operation soapAction="urn:IncaWebService#getConfig"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </output>
      </operation>
      <operation name="pingAgent">
         <soap:operation soapAction="urn:IncaWebService#pingAgent"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </output>
      </operation>
      <operation name="pingDepot">
         <soap:operation soapAction="urn:IncaWebService#pingDepot"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </output>
      </operation>
      <operation name="queryDb">
         <soap:operation soapAction="urn:IncaWebService#queryDb"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </output>
      </operation>
      <operation name="queryDb">
         <soap:operation soapAction="urn:IncaWebService#queryDb"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </output>
      </operation>
      <operation name="queryGuids">
         <soap:operation soapAction="urn:IncaWebService#queryGuids"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </output>
      </operation>
      <operation name="queryHql">
         <soap:operation soapAction="urn:IncaWebService#queryHql"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </output>
      </operation>
      <operation name="queryInstance">
         <soap:operation soapAction="urn:IncaWebService#queryInstance"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </output>
      </operation>
      <operation name="queryLatest">
         <soap:operation soapAction="urn:IncaWebService#queryLatest"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </output>
      </operation>
      <operation name="queryPeriod">
         <soap:operation soapAction="urn:IncaWebService#queryPeriod"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </output>
      </operation>
      <operation name="queryStatus">
         <soap:operation soapAction="urn:IncaWebService#queryStatus"/>
         <input>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </input>
         <output>
            <soap:body
               encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
               namespace="urn:IncaWebService"
               use="encoded"/>
         </output>
      </operation>
   </binding>

   <service name="IncaWebService"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   >
      <documentation>WSDL File for IncaWebService</documentation>
      <port binding="tns:IncaWS_Binding" name="IncaWS_Port">
         <soap:address location="http://localhost:8001"/>
      </port>
   </service>

</definitions>
